nav ul{
    background-color: aqua;
    margin: 0 auto;
    width: 80%;
}

nav ul li ul{
    width: 85%;
    margin: 0 auto;
}

nav ul li ul li{
    width: 100%;
    margin: 0 auto;
    background-color: yellowgreen;
}